pip
scikit-learn
gensim
matplotlib
nltk
numpy
pandas
pickleshare
plotly-express
plotly
pyldavis
regex
seaborn
setuptools
spacy
streamlit
umap-learn
wordcloud
ipywidgets==7.6.6
#biterm
bitermplus
tmplot
tomotopy
